.footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #474747;
  color: white;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer > a {
  color: white;
  text-decoration: underline;
}
