/* product */
.product-page {
  background-color: #fafafa;
  margin-top: 3px;
}

.global-div {
  display: flex;
  justify-content: center;
}

.offer-picture > img {
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.offer-picture {
  width: 607px;
  background-color: darkgray;
  height: 400px;
  display: flex;
  overflow-x: scroll;
}

.offer-description {
  display: flex;
  flex-direction: column;
  width: 607px;
  height: 500px;
  border-radius: 3px;
  margin-top: 40px;
}

.offer-infos {
  padding: 20px;
  margin-bottom: 100px;
}

.offer-title {
  height: 700px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.title-price {
  padding: 20px;
}
.title-price > .offer-price {
  color: #f56b2a;
}

.offer-date {
  padding: 20px 20px;
}

.offer-price {
  padding-top: 10px;
}
h5 {
  font-size: 20px;
}

h6 {
  padding-bottom: 20px;
  font-weight: bold;
}
.no-p {
  font-size: 80px;
  color: white;
  margin: auto auto;
}
.offer-user {
  font-weight: bold;
  font-size: 20px;
  height: 35%;
  padding-left: 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  height: 195px;
  width: 279px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}
.paid {
  font-size: 15px;
  color: white;
  background-color: #f56b2a;
  border-radius: 4px;
  height: 44px;
  width: 230px;
  margin-left: 30px;
}
