/* Common rules */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.orange-bar {
  background-color: #f56c2a;
  height: 74px;
  border-radius: 0 0 30% 30%;
  position: relative;
}

.general {
  width: 1200px;
  margin: 150px auto 0 auto;
  background-color: #fafafa;
}
